input[type=text]
{
    top: 0%;
    width:100%;
    border:none;
    background-image: url("https://static.vecteezy.com/system/resources/previews/010/353/285/non_2x/colourful-google-logo-on-white-background-free-vector.jpg");
    background-repeat: no-repeat;
   background-size: 18px;
   background-position: left;
   width:90%;
   height:20px;
   margin-left:7%;
   text-align: center;
   border: none;
   outline: none;

 
}
a{
   color:rgb(63, 63, 75);
   text-decoration: none;
   margin-left: 83%;
   font-size: 85%;
}

.mm{
    color:rgb(63, 63, 75);
    margin-left: 20px;
   font-size: 85%;

}
#bg{
    width:20%;
    margin-left: 40%;
    margin-top:10%;
  
}


section input[type=search]
{
   display:flex;
   margin-left: 31%;
   margin-top:2.5%;
   width:40%;
   text-align: center;
   border:none;
   border-radius: 57px;
   outline: none;
   box-shadow: inset  1px 1px  rgb(216, 216, 216),1px 1px rgb(193, 193, 193);
   filter: drop-shadow(1px 1px 120px rgb(197, 197, 197));
   padding: 7px;
   background-image: url("https://t3.ftcdn.net/jpg/04/99/34/78/360_F_499347841_IXq0bLOPN4MkKAa71nP3WMQq6LVlgeTO.jpg");
   background-repeat: no-repeat;
   background-size: 36px;
   background-position: left;
   width:40%;
   height:27px;

}
